body{ background-color: antiquewhite;



    width: 1000px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;


}

h1{
    
  border-width: 5;
    border-style:ridge;
    border-color: #ca1111;

    color: #ff0000;
text-align: center;

    font-family: 'Times New Roman', Times, serif;


}
h2{
    color: darkcyan
}
dl{
    color: rgb(29, 100, 27)

}
dt{font-size: 130%;
}
p{ color: #325992;
font-family: 'Times New Roman', Times, serif;
font-style: italic

}