body{ background-color: antiquewhite}
h1{
  border: 5 ridge red;

    color: red;
text-align: center;

    font-family: 'Times New Roman', Times, serif;

}
h2{
    color: darkcyan
}
dl{
    color: rgb(29, 100, 27)

}
dt{font-size: 130%;
}
p{ color: #325992;
font-family: 'Times New Roman', Times, serif;
font-style: italic

}